$def with (session, form, msg=None, msgerr=None)

$# Nombre del cliente:
$var username: $session.username.nombre1.lower().capitalize() $session.username.apellido1.lower().capitalize()
<h2>Asignar Vehículo/Cliente</h2>

$if not form.valid: <p class="notifi">Intenta de Nuevo</p>
$if msgerr and form.valid: <p class="notifi">Intenta de Nuevo</p>
<form id="myform" method="post">
    $:form.render()
    <input class="boton" type="submit" value="Guardar"/>
</form>

<div class="error">
    $if msgerr: 
        <p>Error:</p>
        <p>$msgerr</p>
</div>
<p class="notifi">$msg</p>

<script>
jQuery(document).ready(function(){
        jQuery('.chzn-select').width('180');
        jQuery('#vehiculo_id').css('display', 'none');
        jQuery('#cliente_id').css('display', 'none');

        var newElementv = [];
        var newElementv1 = [];
        jQuery.ajax({
            url      : '/admin/listvehiclesjson',
            //data     : { 'pais' : country },
            type     : 'GET',
            dataType : 'json',

            success  : function(json){
                jQuery.each(json, function(index, obj){
                    newElementv1.push('<option value=' + obj[1] + '>' + obj[0] + '</option>');
                    newElementv.push('<li id="vehiculo_id_chzn_o_'+ ++index + ' class="active-result">' + obj[0] + '</li>');
                });
                jQuery('#vehiculo_id').find(':first').after(newElementv1.join(''));
                $$('#vehiculo_id_chzn ul').find(':first').after(newElementv.join(''));
                console.log(newElementv1);
                console.log(newElementv);
                //jQuery('#gps_id').chosen();
                //jQuery(".chzn-select").chosen();
            },
            error    : function(jqXHR, status, error){
                console.log("Se produjo un error: " + error);
            },
            complete : function(jqXHR, status){
                console.log("Petición terminada con estado: " + status);
                console.log(jqXHR);
                //jQuery('#gps_id').removeAttr('disabled');
                //#gps_id_chzn.css('display','inline-block');
                //#gps_id_chzn.addClass('chzn-container-active');
                jQuery('#vehiculo_id').chosen();
                //jQuery(".chzn-select").chosen();
            }
        });

///////////////////////////
        var newElement = [];
        var newElement1 = [];
        jQuery.ajax({
            url      : '/admin/listclientjson',
            //data     : { 'pais' : country },
            type     : 'GET',
            dataType : 'json',

            success  : function(json){
                jQuery.each(json, function(index, obj){
                    newElement1.push('<option value=' + obj[0] + '>' + obj[1] + '</option>');
                    newElement.push('<li id="cliente_id_chzn_o_'+ ++index + ' class="active-result">' + obj[1] + '</li>');
                });
                jQuery('#cliente_id').find(':first').after(newElement1.join(''));
                $$('#cliente_id_chzn ul').find(':first').after(newElement.join(''));
                console.log(newElement1);
                console.log(newElement);
                //jQuery('#gps_id').chosen();
                //jQuery(".chzn-select").chosen();
            },
            error    : function(jqXHR, status, error){
                console.log("Se produjo un error: " + error);
            },
            complete : function(jqXHR, status){
                console.log("Petición terminada con estado: " + status);
                console.log(jqXHR);
                //jQuery('#gps_id').removeAttr('disabled');
                //#gps_id_chzn.css('display','inline-block');
                //#gps_id_chzn.addClass('chzn-container-active');
                jQuery('#cliente_id').chosen();
                //jQuery(".chzn-select").chosen();
            }
        });


        // Limpiamos al recargar
        function resetForm($$form) {
            $$form.find('input:text, input:password, input:file, select, textarea').val('');
            $$form.find('input:radio, input:checkbox')
                 .removeAttr('checked').removeAttr('selected');
        }
        resetForm($$('#myform')); 
});
</script>
