$def with (session, usuarios, msg=None)
<script type="text/javascript" src="/static/js/picnet.table.filter.min.js"></script>
$# Nombre del cliente:
$var username: $session.username.nombre1.lower().capitalize() $session.username.apellido1.lower().capitalize()
<h2>Lista de Usuarios</h2>
    <table id='tabla1'>
        <thead>
            <tr><th style="border-left:1px solid white;">Usuario</th><th>Cliente</th><th filter-type="ddl">Tipo</th>
            <th filter='false'>Creaci&oacute;n</th><th filter='false'>Caduca</th>
            <th style="border-right:1px solid white" filter-type="ddl">Activo</th><th style="border-right:1px solid white" filter='false'>Acciones</th></tr>
        </thead>
        <tbody>
            $for i in usuarios.list():
                <tr><td>$i.usuario</td><td>$i.cliente</td><td>$i.descrip</td>
                <td>$i.fecha_crea.strftime("%F %H:%M:%S")</td><td>$i.fecha_caduca.strftime("%F %H:%M:%S")</td><td>$i.activo</td>
                <td style="text-align:center;"><a href="/admin/editusers?id=$i.id&amp;name=$i.usuario" class="edit"></a>
                <a data-userid='$i.id' data-username="$i.usuario" href="/admin/deleteuser" class="delete"></a></td></tr>
        </tbody>
    </table>
<div id="dialogdelete" title="Eliminar Usuarios" class="hide">
    <h3>Advertencia</h3>
    <p>Esta acci&oacute;n borrar&aacute; permanentemente el usuario <span style="font-weight:bold;color:#2180CE;"></span> del sistema.</p>
    <p>¿Est&aacute; seguro que desea realizar esta acci&oacute;n?</p>
</div>
<p>$msg</p>
<script>
 jQuery(document).ready(function(){
    // Dialog Delete
    jQuery('#dialogdelete').dialog({
             autoOpen: false,
             width: 500,
             modal: true,
             buttons: {
                "Cancelar": function() {
                          $$(this).dialog("close");
                 },
                "Eliminar": function() {
                       var id=$$(this).data('data-userid');
                       var name=$$(this).data('data-username');
                       var url=$$(this).data('data-url');
                       href = url+'?id='+id//+'&amp;name='+name;
                       console.log(href);
                       window.location.href = href;
                       $$(this).dialog("close");
                 }
             }
    });
    // Delete link
    jQuery('.delete').click(function(){
            var id=$$(this).attr('data-userid');
            var name=$$(this).attr('data-username');
            var url=$$(this).attr('href');
            $$('#dialogdelete').data('data-userid', id);
            $$('#dialogdelete').data('data-username', name);
            $$('#dialogdelete').data('data-url', url);
            $$('#dialogdelete').find('span').text(name);
            $$('#dialogdelete').dialog('open');
            return false;
    });
    // TableFilter
    jQuery('#tabla1').tableFilter();
    jQuery(':input').addClass('input');
    jQuery(':input').css('padding', '1px');;
});
</script>
