html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root{clear:both;min-height:100%;height:auto !important;height:100%;/*margin-bottom:-88px;*/}
#wrapper{padding-top:37px;}
#wrapper h2 {text-align:center;}
#map_canvas {
  height: 100%;
}
.container-fluid {padding-right:1px; padding-left:1px;}
@media print {
  html, body {
    height: auto;
  }
  #map_canvas {
    height: 650px;
  }
}
